[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
pysocks = "*"

[dev-packages]

[requires]
python_version = "3.9"
